mixin menu(currentPage)
  .header-mobile
    .header-mobile--container.container
      .header-mobile--seen
        .header-mobile--logo
          a(href="/") СТО
            br
            | GAGARINAUTO 
        .header-mobile--burger
          span 
          span 
          span
      nav.header-mobile--nav.menu
        .menu--item 
          a(href="tel:0632883815") 
            img(src="/assets/images/icons/call.svg", alt="") 
            | 063 288 38 15 
        .menu--item
          a(href="#services") Услуги 
        .menu--item
          a(href="#advantages") Преимущества
        .menu--item
          a(href="#reviews") Отзывы
        .menu--item
          a(href="https://www.google.com.ua/maps/place/%D0%A1%D0%A2%D0%9E+GAGARINAUTO/@50.5297313,30.5862568,17z/data=!4m5!3m4!1s0x40d4d11ab270f16b:0xa7552ac365f749d9!8m2!3d50.5297313!4d30.5884455?hl=ru") Мы на картах
  header.header
    .header--container.container
      .header--logo
        a(href="/") СТО GAGARINAUTO 
      nav.header--nav.menu
        .menu--item 
          a(href="tel:0632883815") 
            img(src="/assets/images/icons/call-white.svg", alt="") 
            | 063 288 38 15 
        .menu--item
          a(href="#services") Услуги 
        .menu--item
          a(href="#advantages") Преимущества
        .menu--item
          a(href="#reviews") Отзывы
        .menu--item
          a(href="https://www.google.com.ua/maps/place/%D0%A1%D0%A2%D0%9E+GAGARINAUTO/@50.5297313,30.5862568,17z/data=!4m5!3m4!1s0x40d4d11ab270f16b:0xa7552ac365f749d9!8m2!3d50.5297313!4d30.5884455?hl=ru") Мы на картах